todo.txt
Data/
Command_For_Git
__pycache__ 
mnist_cnn.py
/2.5-env
Implementing_ML/Milestone_2/Documents/2.5-env
/Implementing_ML/Milestone_2/Documents/2.5-env
Implementing_ML/Milestone_2/Documents/2.5-env